<div class="container mt-3">

  <div class="card text-center" style="background-color: green;">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create">Créer une partie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/history">Historique des parties</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h1 class="card-title">Bienvenue</h1>
    </div>
  </div>

</div>
